body{
  /* backgroud-color:red */
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
div{
  background-color:brown;
  text-align:center;
}
div{
  color:blueviolet;
  text-align:center;
}
