body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color:gray
}
div > h1,h2,h3{
  text-align:center;
  font-size:60px;
}
div > img {display:block;
       margin:0 auto;
}
div > p{
          color:purple;
          text-align:center;
          font-size:60px;
}
.head{
  background-color:black;                         
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-inline: 2rem;
}
.logo{
  color:orange;
  font-style: italic;
  margin-inline:5px;
  padding:21px;
}
.peace{
  display:flex;
  /* color:white;
  justify-content:space-between; */
  align-items: center;
  margin-inline: 1rem;
  list-style:none;
}
.smart{
background-color:rgb(235, 235, 2);
 color:black;
 padding:21px 59px;
 border-radius:1px;
}
.unity{
color:black;
padding:21px 66px;
border:1px solid yellow;
background-color: darkgoldenrod;
}
a{
  list-style:none;
  margin-inline:2rem;
  color:white;
  justify-content:space-around;
}