body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color:palevioletred;
}
div > h1,h2,h3{
  text-align:center;
  font-size:60px;
}
div > img {display:block;
       margin:0 auto;
}
div > p{
          color:purple;
          text-align:center;
          font-size:60px;
}