<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>margin</title>
    <link rel="stylesheet" href="./margin.css">
</head>
<body>
    <!-- <div class="box box_margin box_padding" id="box1" > -->
          <!-- <h1>Thinkpad</h1> -->
          <!-- <p>I am frontend developer with vnicom</p> -->
        <!-- <img src="../assect/photo-1535713875002-d1d0cf377fde.avif" alt> -->
    </div>
      <!-- <div id="viva" class="box _margin box box_padding"> -->
        <!-- <h1>abdulsalam</h1>
        <p>I am a web designer</p>
        <h2>create flex-container</h2> -->
      <!-- <div class="JOY">
        <h1>LOGO</h1>
        <h1>home</h1>
        <h1>about</h1>
        <h1>content</h1>
        <h1>login</h1>
        <h1>register</h1>
      </div>  -->
     <!-- <div class="bash">
      <h2>logo</h2>
      <h2>home</h2>
      <h2>about</h2>
      <h2>content</h2>
      <h2>login</h2>
      <h2>register</h2>
    </div> -->
   <div class="bond">
    <h3>log</h3>
    <h3>home</h3>
    <h3>about</h3>
    <h3>content</h3>
    <h3>login</h3>
    <h3>register</h3>
   </div> 
    </body>
</html>